<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="row justify-content-center">
      <div class="form-group">
        <h2>My Portfolio</h2>
        <form #loginRef="ngForm"
              (ngSubmit)="checkUser(loginRef)">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" placeholder="Contact Name" class="form-control" name="user" ngModel required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="text" placeholder="Phone Number" class="form-control" name="number" ngModel required />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>

        </form>
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <h2>Contact Details</h2>

  </div>
  <div class="row justify-content-center">
    <div id="hi"></div>
  </div>
  </div>
