
Phase 1/Simply Blogging/hello-chat.gif
Phase 1/Simply Blogging/hop-on-tf2.gif
Phase 1/Simply Blogging/osu-players-osu.gif
Phase 1/Simply Blogging/scout-tf2-tf2.gif
Phase 1/Simply Blogging/spy-rapping-juamzin-safro-matheus-leonan-get-real-spy-rap.gif
Phase 1/Simply Blogging/tf2-chicago.gif
Phase 1/Simply Blogging/tf2-heavy-is-dead.gif
Phase 1/Simply Blogging/your-mom-spy.gif
Phase 2/OnlineExam/project_details/capture1.png
Phase 2/OnlineExam/project_details/capture2.png
Phase 2/OnlineExam/project_details/Project.docx
Phase 2/OnlineExam/project_details/src.zip
Phase 2/TasktrackerPWA/project_details/capture1.png
Phase 2/TasktrackerPWA/project_details/capture2.png
Phase 2/TasktrackerPWA/project_details/Project.docx
Phase 2/TasktrackerPWA/project_details/src.zip
Phase 3/Task Planner/node_modules/
Phase 3/Chatting with Socket IO/node_modules/
Phase 3/Chatting with Socket IO/project_details/
Phase 3/Task Planner/project_details/
Phase 3/Creating Log Records of a Node.js Application/project_details/
Phase 3/Task Planner/tasks.json
Phase 3/Creating Log Records of a Node.js Application/account.json
Phase 3/Chatting with Socket IO/assets/images/p2.jpg
Phase 3/Chatting with Socket IO/assets/images/p1.jpg
Phase 3/Task Planner/tasks.json
Phase 3/Creating Log Records of a Node.js Application/account.json
Phase 3/Call Record Analysis/node_modules/
Phase 3/Call Record Analysis/project_details/
Phase 3/MongoDB Website/node_modules
Phase 3/MongoDB Website/project_details
Phase 3/Chatlog/node_modules
Phase 3/Chatlog/project_details